# ignore temp files
temp*.rb
temp*ruby
settings.json
app.json
appearance.json
core-plugins.json
graph.json
hotkeys.json
workspace
ls-md/offlimits/*
ls-md/Excalidraw/*
ls-md/.obsidian/plugins/obsidian-emoji-toolbar
ls-md/.obsidian/plugins/obsidian-excalidraw-plugin
ls-md/.obsidian/plugins/obsidian-rewarder
